<% if params[:mode] == 'main' %>
	<% provide(:title, 'About') %>
	<div class="container-content">
<% else %>
	<div class="dashboard-content">
<% end %>
	<h3 style="line-height:120%">Hi there! My name is Andy Pierce. I'm a redheaded software engineer living in
    Seattle, WA. <%= link_to 'Here', '/resume.pdf' %> 
    is a link to my resume. :) </h3>
</div>