
<% provide(:title, 'About') %>

<div class="container-content">
	<h3 style="line-height:120%">Hi there! My name is Andy Pierce. I'm a redheaded software engineer living in
    Seattle, WA. <%= link_to 'Here', '/about/resume' %> 
    is a link to my resume. :) </h3>
</div>